@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    color: var(--theme-color-text,#cbd4d9);
    background-color: var(--theme-color-background,#090c15);

    margin: 0px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700; 
    margin-bottom: 1rem;
}

input[type='search'] {
    appearance: none;
    min-height: 48px;
}

input[type=checkbox]{
  transform: scale(2);
  padding: 10px;
}

/* to be refactored */ 
.bg-input {
    border: 1px solid #cbd4d9;
    background-color: #0d111d;
}

.bg-custom-900 {
    background-color: #090C15;
}

.bg-custom-800 {
    background-color: #0C1223;
}

.bg-custom-700 {
    background-color: #121B36;
}

.bg-custom-100 {
    background-color: #cbd4d9;
}